.nav-container {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100vh;
  background: #f6f6f6;
  padding: 2rem;
  padding-top: 3rem;
}
.nav-links {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.active {
  border-left: 2px solid red;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  padding: 0 0.5rem;
  margin: 0.6rem 0;
}

.nav-logo {
  display: flex;
  gap: 0.4rem;
}

.nav-logo p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #ec7160;
}
