.contanct-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 600px;
  width: 100%;
  margin: auto;
  margin-top: 5rem;
  gap: 2rem;
}
.contact-name-email {
  display: flex;
  justify-content: space-between;
}

.contanct-container label {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.contanct-container textarea {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background: #f6f6f6;
    resize: none;
    max-width: 100%;
  }
.contanct-container input {
  padding: 0.7rem 6rem 0.7rem 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background: #f6f6f6;
}

.contanct-container button {
  padding: 1rem 1.5rem;
  max-width: fit-content;
  border: none;
  border-radius: 0.5rem;
  background: #ec7160;
  color: #ffffff;
}

